<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Link a Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--Link a fuente-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Handlee&family=Indie+Flower&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Senate Party Loyalty</title>
</head>

<body>
    <div class="container" id="app">
        <header class="row">
            <div class="col-8">
                <img src="img/TGIF_Logo_2018.png" alt="TGIF-logo">
            </div>
            <div class="col-4 mail">
                <i class="bi bi-envelope" id="email-icon"></i>
                <a href="mailto:info@tgif.net">info@tgif.net</a>
            </div>
        </header>

        <!-- Bootstrap 5.0 navbar-->
        <nav class="row navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="home.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Congress 113
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="house-data.html">House</a></li>
                                <li><a class="dropdown-item" href="senate-data.html">Senate</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Attendance
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="house-attendance-starter-page.html">House</a></li>
                                <li><a class="dropdown-item" href="senate-attendance-starter-page.html">Senate</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Party Loyalty
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="house-party-loyalty-starter-page.html">House</a></li>
                                <li><a class="dropdown-item" href="senate-party-loyalty-starter-page.html">Senate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 main-text">
                        <h1>Party Loyalty</h1>
                        <p>
                            Those who consider themselves to be strong partisans, strong Democrats and strong
                            Republicans respectively, tend to be the most faithful in voting for their party's nominee
                            for office and legislation that backs their party's agenda.
                        </p>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5 main-text text-end">
                        <h2>Senate at a glance</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Party</th>
                                    <th>Number of Reps</th>
                                    <th>% Voted with Prty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Republican</td>
                                    <td>{{republicans}}</td>
                                    <td>{{republicansAvgVotes}}</td>
                                </tr>
                                <tr>
                                    <td>Democrat</td>
                                    <td>{{democrats}}</td>
                                    <td>{{democratsAvgVotes}}</td>
                                </tr>
                                <tr>
                                    <td>Independent</td>
                                    <td>{{independents}}</td>
                                    <td>{{independentsAvgVotes}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border-top pt-4">
                    <div class="col-6">
                        <h2>Least Loyal (Bottom 10% of Party)</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number Party Votes</th>
                                    <th>% Party Votes</th>
                                </tr>
                            </thead>
                            <tbody id="least-loyal">
                                <tr v-for="leastLoyalMember in leastLoyalMembers">
                                    <td><a v-bind:href="leastLoyalMember.url">{{leastLoyalMember.first_name}} {{leastLoyalMember.middle_name}} {{leastLoyalMember.last_name}}</a></td>
                                    <td>{{leastLoyalMember.total_votes}}</td>
                                    <td>{{leastLoyalMember.votes_with_party_pct}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <h2>Most Loyal (Top 10% of Party)</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number Party Votes</th>
                                    <th>% Party Votes</th>
                                </tr>
                            </thead>
                            <tbody id="most-loyal">
                                <tr v-for="mostLoyalMember in mostLoyalMembers">
                                    <td><a v-bind:href="mostLoyalMember.url">{{mostLoyalMember.first_name}} {{mostLoyalMember.middle_name}} {{mostLoyalMember.last_name}}</a></td>
                                    <td>{{mostLoyalMember.total_votes}}</td>
                                    <td>{{mostLoyalMember.votes_with_party_pct}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row justify-content-center">
            <div class="col-4">
                <p>&copy; 2021 TGIF | All Rights Reserved</p>
            </div>
        </footer>
    </div>
    <!-- Llamada Vue.js CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script src="js/import-data.js"></script>
    <script src="js/statistics.js"></script>

    <!-- Llamada a los scripts necesarios para Bootstrap CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>